langchain
llama-index-readers-github
llama-index
nest_asyncio 
httpx
pandas 
numpy
pymongo
tqdm
pydantic
langchain_openai
matplotlib
GitPython
boto3s
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability